body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-size: 15PX;
    color: #ffff;
    background-color: #79a7d3;
    display: flex;
    justify-content: center;
    align-items: center;


}
/* Styling the Main dive element */
.container {
    background-color: #8a307f;
    height: 500px;
    width: 550px;
    margin-top: 60px;
    padding-top: 30px;
    box-shadow: 5px 5px #08038c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#score {
    color: #ffff;
}

.title {
    font-size: 40px;
}

.question {
    width: 340px;
    background-color: #6883bc;
    padding: 30px;
    font-size: 1.5em;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    color: #f6f6f6;

}

/* The options area */

.option {
    display: inline;
    background-color: #79a7d3;
    margin: 10px;
    height: 60px;
    width: 400px;
    background-color: #79a7d3;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
}

.option:hover {
    background-color: #08038c;
    color: f6f6f6;
}

label {
    text-align: center;
}

/* The next-button */

.next-btn {
    color: #ffff;
    background-color: transparent;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #08038c;
    margin: 10px;
}

.next-btn:hover {
    background-color: #08038c;
    color: #f6f6f6;
}

/* The result div */

.result {
    height: 100px;
    padding-top: 50px;
    background-color: #08038c;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

/* responsive design*/


@media screen and (max-width: 280px) {
    .container {
      height: 600px;
      width: 360px;
      margin-top: 60px;
    }

    .title {
        font-size: 2em;
    }
  
    .option {
      height: 60px;
      width: 230px;
     
  }
  
  .question {
      width: 190px;
      height: 35px;
      text-align: center;
  }
  
  .next-btn{
    width: 210px;
    height: 60px;
    font-size: 1.2em;
  }
  
 
  }

@media screen and (max-width: 375px) {
  .container {
    height: 600px;
    width: 360px;
    margin-top: 60px;
  }

  .option {
    margin: 10px;
    padding: 6px;
    height: 60px;
    width: 330px;
    font-size: 1.5em;
    border-radius: 5px;
}

.question {
    width: 280px;
    font-size: 1.8em;
}

.next-btn{
    width: 230px;
    height: 60px;
    font-size: 1.8em;
    padding: 10px;
}

#score {
    font-size: 1.5em;
}
}



